@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai {
    display: grid;
    height: 90vh;
    width: 90%;
    gap: 5px;
    
}

.topo {
    display: grid;
    background-color: aliceblue;
    grid-template: repeat(4, 100px) / repeat(10, 1fr);

}

nav.menu {
    display: grid;
    background-color: aqua;
    grid-template: repeat(1, 100px) / repeat(2, 1fr);
}

main.container {
    display: grid;
    border: 1px dashed black;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 5px;
}

main > section.principal {
    background-color: bisque;
    grid-area: 1 / 1 / 4 / 4;


}
main > section.secundario {
    background-color: burlywood;
    grid-area:1 /4 / 4 / 5   ;
  /*  grid-row: 1 / 4;
    grid-column:4 /5 ; */

}

.rodape {
    display: grid;
    background-color: cadetblue;
    grid-template: repeat(1, 100px) / repeat(2, 1fr);

}