@charset "TF-8";

div.container {
    display: grid;
    border: 1px solid black;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
 
    
    padding: 10px;
}

div.caixa1 {
   
    padding: 10px;
    border: 1px solid rgb(224, 8, 8);
    grid-row-start:1 ;
    grid-row-end:2 ;
    grid-column-start:1 ;
    grid-column-end:-1;
}
div.caixa2 {
   
    border: 1px solid rgb(8, 224, 8);
    grid-row-start:2 ;
    grid-row-end:4 ;
    grid-column-start:1 ;
    grid-column-end:3 ;
}   

div.caixa3 {
    
    border: 1px solid rgb(8, 8, 224);
    grid-row-start:2 ;
    grid-row-end:4 ;
    grid-column-start:3 ;
    grid-column-end:5 ;
}
